@{
}

<div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">User Id Giriniz :</label>
    <input id="user-id-area" type="number" class="form-control" placeholder="ör. 3730">
    
    <button class="btn btn-info w-100 mt-3" onclick="SearchUser()">Ara</button>
    <div id="user-container"></div>



    

</div>

@section Scripts{
    <script>
        function SearchUser() {
            var userId = $("#user-id-area").val();
            $.ajax({
                type: "GET",
                data: {Id:userId},
                url: "@Url.Action("UserWithIdAjaxPop","Home")",
                success: function (result) {
                    if (result.success) {
                        var userCard = `<div class="card"><h5 class="card-header">${result.data.name}</h5><div class="card-body"><h5 class="card-title">${result.data.gender}</h5><p class="card-text">With supporting text below as a natural lead-in to additional content.</p><a href="#" class="btn btn-primary">Go somewhere</a></div></div>`

                        $("#user-container").append(userCard);
                    }
                }
            })
        }
    </script>
}